body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp4037833.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #f1f1f1;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
  
.adiciona{
  padding: 10px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.input{
  top: 55px;
  position: absolute;
  width: 400px;
  border-style: none;
}

.input2{
  top: 80px;
  position: absolute;
  width: 400px;
  border-style: none;

}

.adiciona button{
  width: 100px;
  height: 50px;
  top: 110px;
  border-style: none;
  border-radius: 5px;
  background-color: #f00;
  color: #fff;
  justify-content: center;
  position: absolute;
}

.adiciona button:hover{
  background-color: #a22;
  transition: 1s;
}